#app {
    height: 100%;
    overflow: hidden;
}

#app-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    padding: .5rem 0.5rem 1rem;
    background-color: #1a1d21;
    box-shadow: 10px 0 20px 0 rgb(0 0 0 / 30%);
    z-index: 9999;
}